doctype strict
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
      ul#keyboard
        -
          var row1 = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0"];
          var row2 = ["Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P"];
          var row3 = ["A", "S", "D", "F", "G", "H", "J", "K", "L", ";"];
          var row4 = ["Z", "X", "C", "V", "B", "N", "M", ",", ".", "/"];
        .row.keys
          each val in row1 
            li.symbol(id= val)=val 
          li#key-offset0
        .row.keys
          li#key-offset1
          each val in row2 
            li.letter(id= val)=val 
          li#key-offset3

        .row.keys
          li#key-offset2
          each val in row3 
            li.letter(id= val)=val 
          li#key-offset2

        .row.keys
          li#key-offset3
          each val in row4
            li.letter(id= val)=val 
          li#key-offset1